<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/Device.css">
    <title>{{ Device.name }}</title>
</head>
<body>
    <form action="" method="post">
    <div>
        <h1>{{ Device.name }}</h1>
        <p>Raum : <input type="text" name="Room" value="{{ Device.room }}" {{ permission }}></p>
        <p>Beschreibung: <input type="text" name="Beschreibung" value="{{ Device.description }}" {{ permission }}></p>
        <p>Marke:<input type="text" name="Brand" value="{{ Device.brand }}" {{ permission }}></p>
        <p>Model:<input type="text" name="Model" value="{{ Device.model }}" {{ permission }}></p>
        <p>Kauf Datum:<input type="text" name="Date" value="{{ Device.purchase_date }}" {{ permission }}></p>
        <p>Anforderung:<input type="text" name="Quali" value="{{ Device.qualification }}" {{ permission }}></p>
        {% if Device.img %}
        <img src="{{ Device.img.url}}" alt="connect" style="max-height:300px">
{% endif %}
    </div>
    {% if not permission %}
        <button type="submit" name="save">Save</button>
        <p>{{ group }}</p>
    {% endif %}
    </form>
</body>
</html>