<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet", href="../Css/login.css">
    </head>
    <body>
        <div class="login-page">
          <div class="form">
            <form class="login-form">
              <input type="text" placeholder="Benutzername"/>
              <input type="password" placeholder="Passwort"/>
              <div>
                <div>
                  <button class="btn-one" type="submit">Login</button>
                </div>
              </div>
              <p class="message">Noch keinen Account? <a href="#">Erstelle einen Account</a></p>
            </form>
          </div>
        </div>
    </body>
</html>
