<html>
    <head>
      <link href="/static/CSS/style_cal.css" rel="stylesheet"/>
    </head>
<section class='calendar'>
  <h1>August 2015</h1>
  <form action='#'>
    <label class='weekday'>Mo</label>
    <label class='weekday'>Tu</label>
    <label class='weekday'>We</label>
    <label class='weekday'>Th</label>
    <label class='weekday'>Fr</label>
    <label class='weekday'>Sa</label>
    <label class='weekday'>Su</label>
    <div class='clearfix'>
        {% for line in lines %}
            {% for days in line %}
                <button class='day'>{{ days }}</button>
                <span></span>
            {% endfor %}
        {% endfor %}
    </div>
  </form>
</section>
</html>

