{%  load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="/static/Css/login.css">
    </head>
    <body>
        <div class="login-page">
          <div class="form">

            <form class="login-form" action='' method="post">
                {% csrf_token %}
              <input type="text" placeholder="Benutzername" name="username"/>
              <input type="password" placeholder="Passwort" name="password"/>
              <div>
                <div>
                    <h3>Anmeldendaten falsch</h3>
                  <button class="btn-one" type="submit">Login</button>
                </div>
              </div>
              <p class="message">Noch keinen Account? <a href="#">Erstelle einen Account</a></p>
            </form>
          </div>
        </div>
    </body>
</html>
