<html>
    <head>
      <link href="/static/Css/login fail.css" type="text/css" rel="stylesheet"/>
    </head>
    <div class="login-box">
      <h2>Login</h2>
      <form>
        <div class="user-box">
          <input type="text" name="Username" required="">
          <label>Username</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required="">
          <label>Password</label>
        </div>
        <a role="button" class="button" onclick="myFunction">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Login
        </a>
      </form>
      <script>
        function myFunction() {
            document.getElementById("GFG").submit();
        }
      </script>
    </div>
</html>