<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <link rel="stylesheet" href="../../../static/Css/login.css">
    </head>
    <body>
        <div class="register-page">
          <div class="form">
            <form class="login-form">
                <input type="text" placeholder="Nachname"/>
                <input type="text" placeholder="Vorname"/>
                <input type="password" placeholder="Passwort"/>
                <input type="email" placeholder="Email-Adresse"/>
                <button type="submit", class="btn-one">create</button>
                <p class="message">Du hast schon einen Account? <a href="#">Anmelden</a></p>
            </form>
          </div>
        </div>
    </body>
</html>