<html lang="en" >

    <head>
        <meta charset="UTF-8">
        <title>SignUp</title>
        <link rel="stylesheet" href="/static/CSS/login.css">
    </head>
    <div class="login-box">
      <h2>Registrierung</h2>

      <form action="" method="post">
          {% csrf_token %}
            {% for field in form %}
                <div class="user-box">
                    <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                </div>
            {% endfor %}
            <div class="tooltip" style="color: white">Passwortbedingungen
                <span class="tooltiptext">
                    Das Passwort darf nicht zu ähnlich zu anderen persönlichen Informationen sein.<br>
                    Das Passwort muss mindestens 8 Zeichen enthalten.<br>
                    Das Passwort darf nicht allgemein üblich sein.<br>
                    Das Passwort darf nicht komplett aus Ziffern bestehen.</span>
            </div>
        <button type="submit" class="button" name="verification" value="True">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                registrieren
            </button>

      </form>
    </div>
</html>