<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
  		<title>Homepage</title>
		<meta name="author" content="Max Lehmann" />
		<meta name="description" content="Softwareentwicklung" />
		<link rel="stylesheet" media="all" type="text/css" href="/static/CSS/Homepage.css"/>
		<style>
			@import url(https://fonts.googleapis.com/css?family=Roboto:300);
			body {
				background-color: #E6E6E6;
				font-family: 'Roboto', sans-serif;
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="mailto:yvo2@schule.bremen.de" alt="Verweis zu einer Email-Adresse" class="class1">Einführungskurs</a></li>
					<li><a href="#" class="class1">Kalender</a></li>
					<li><a href="#" class="class1">Geräte</a></li>
					<li><a href="#" class="class1">Logout</a></li>
				</ul>
			</nav>
			<div class="clear"></div>
			<div class="logo">
			</div>
			<div class="content">
				<div class="inncontent">
					<div class="üs1">
						<h2>Einführungskurs</h2>
					</div>
					<div class="text1">
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. <br />
								Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus<br />
								mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa<br />
								 quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,<br />
								 rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.<br />
								 Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend<br />
								 tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem<br />
								 ante, dapibus in, viverra quis, feugiat a<br />
							</p>
						<div class="üs2">
							<h2>Kalender</h2>
						</div>
						<div class="text2">
							<p>
								Seite ohne Frames. Der Homepagenam ist leicht als Text einzutragen und kommt richtig gut auf dem <br />
								blauen Himmel liegend zur Geltung.
							</p>
						</div>
						<div class="text2">
							<p>
								Textlinks. Ein Menü oben, ein Menü rechts. Die Beispiel-Textlinks sind durch Ihre Links zu ersetzen. Das<br />
								rechte Menür ist beliebig erweiterbar. Es sind dort also auch mehr oder natürlich auch weniger als diese 10<br />
								Links möglich.<br /><br />
								Die allgemeinen Links (Links im Text) sehen zur Zeit aus wie nachstehend: Um den Mousehover-Effekt<br />
								anzuschauen, fahren Sie mit der Maus über den Link: <a href="https://www.hmmh.de/" class="class1">Beispiel Link</a>
							</p>
						</div>
						<div class="text2">
							<div class="üs2">
								<h2>Geräte</h2>
							</div>
							<p>
								Beispiel Füll Text. Fusce bibendum pretium ante. Pellentesque sed enim nex odio laoreet congue. Nullam<br />
								aliquam rhoncus libero. orbi vitae sem. Sed quis lorem. Curabitur suscipit vehicula est. Donec venenatis.<br />
								Nachfolgend sehen sie zwei Beispiele für Listen. Listen sind textlixhe Aufzählungen.
							</p>
						</div>
						<div class="text2">
							<p>
								Preasent bisl mi, condimentum sed, bibendum semper, Fragtuta a, felis. Phasellus tincidunt odio vel nulla.<br />
								Morbi vitae urna quis nulla imperdiet rhoncus. Aliquam feugiat, nulla non semper mollis, sapien velit rutrum<br />
								urna, eu vehicula erat risus et leo.
							</p>
						</div>
						<div class="text2">
							<p>
								Maecenas a nulla. Meacenas nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur<br />
								ridiculus mus. Mauris eu massa. In semper. Morbi vitae nisl at felis placerat porttitor. Morbi molestie. Cras<br />
								ligula sapien, consequat sed, scelerisque ut, pulvinar vel, sem. In vulputate gravida orci.
							</p>
						</div>
					</div>
				</div>
				<div class="leiste">
					<div class="üs3">
						<h4 style="margin-bottom: 1px;">Wilkommen</h4>
					</div>
					<div class="text4">
						<p>
							Das hier ist die Homepage<br />
							Des Buchungssystems der SZUT-Bremen<br />
						</p>
					</div>
					<div class="üs3">
						<h4 style="margin-bottom: 1px;"> News</h4>
					</div>
					<h4 style="margin-bottom: -15px;">Gestern.</h4>
					<div class="text5">
						<p>
							Vestibulum velit nunc, hendrerit ac,<br /> semper id, lobortis sit, velit. In a <br />
							nunc.<img src="/static/img/arrow.gif" alt="arrow.gif, 168B" title="Arrow" height="9" width="8" style="padding: 0 15px"><span class="weiterlink"><i><a href="http://www.bild.de/" class="class1">Weiter</a></i></span>
						</p>
					</div>
					<h4 style="margin-bottom: -15px;">Heute</h4>
					<div class="text5">
						<p>
							Vestibulum velit nunc, hendrerit ac,<br /> semper id, lobortis sit, velit. In a <br />
							nunc.<img src="/static/img/arrow.gif" alt="arrow.gif, 168B" title="Arrow" height="9" width="8" style="padding: 0 15px"><span class="weiterlink"><i><a href="http://www.bild.de/" class="class1">Weiter</a></i></span>
						</p>
					</div>
					<h4 style="margin-bottom: -15px;">Morgen</h4>
					<div class="text5">
						<p>
							Vestibulum velit nunc, hendrerit ac,<br /> semper id, lobortis sit, velit. In a <br />
							nunc.<img src="/static/img/arrow.gif" alt="arrow.gif, 168B" title="Arrow" height="9" width="8" style="padding: 0 15px"><span class="weiterlink"><i><a href="http://www.bild.de/" class="class1">Weiter</a></i></span>
						</p>
					</div>
				<div class="clear"> </div>
				</div>
				<div class="footer">
					<div class="text3">
						<p>
							<a href="https://www.szut.de" style="color: #FFF;">SZUT-Bremen</a>
						</p>
					</div>
				</div>
				<script>
					window.onscroll = function() {myFunction()};

					var navbar = document.getElementById("navbar");
					var sticky = navbar.offsetTop;

					function myFunction() {
					  if (window.pageYOffset >= sticky) {
						navbar.classList.add("sticky")
					  } else {
						navbar.classList.remove("sticky");
					  }
					}
				</script>
			</div>
		</div>
	</body>
</html>